
   
    
     <div class=" jumbotron text-center"   style="margin-bottom:0"  >
            <p   style="font-size:70px" >  Accent Club </p>
            <p style="font-size:x-large">  ملتقى ثقافي اجتماعي للافراد و المؤسسات الدولية و المحلية </p> 
          </div>
          
          <nav class= "navbar-collapse navbar bg-dark navbar-dark"  >
         
              <span class="navbar-text">
                  <button (click)="logout()" class="btn btn-sm btn-outline-secondary"  >تسجيل الخروج</button>
                  </span> 
            <div style="text-align: right">
            <a  class= "navbar-brand"   routerLink='/Login' > تسجيل الدخول   </a>
            <a  class= "navbar-brand"   routerLink='/ContactUs' >  تواصل معنا   </a>
            <a class= "navbar-brand"  routerLink='/Reservation' > احجز معنا </a>
            <a class= "navbar-brand"  routerLink='/FoodMenu'> قائمة الطعام </a>
            <a class= "navbar-brand"  routerLink='/HomaPage' > الرئيسية </a>
            
          </div>
          
           
          </nav>
          
          
          
                        <!-- <alert></alert> -->
                        <router-outlet></router-outlet>
                    <!-- </div>
                </div> -->
                <!-- </div> -->
       